---
// Import the necessary dependencies.
import { ContactForm } from "@/components/ui/forms/ContactForm";
// Define the variables that will be used in this component

const { title } = Astro.props;

interface Props {
  title: string;
}
---

<section class="w-full flex justify-center items-center py-8 px-3 bg-green-50">
  <div>
    <h1
      class="flex justify-center text-balance font-oswald text-4xl text-center text-green-500 font-bold"
    >
      {title}
    </h1>

    <ContactForm client:only="react" />
  </div>
</section>
