---
// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle: string;
}
---

<section
  class="w-full flex justify-center gap-4 px-3 pt-8 pb-4 bg-green-500"
>
  <!-- Title and description -->
 <div class='flex flex-col'>
    <h1 class="flex text-balance font-oswald text-4xl">
      {title}
    </h1>
    <p class="font-inder text-xl pr-6 mt-6">
      {subTitle}
    </p>
  
    </div>
</section>
