---
import MainLayout from "@/layouts/MainLayout.astro";
import FeaturesGeneral from "@/components/sections/features/FeaturesGeneral.astro";
import features from "@data/features.json";
---

<MainLayout>
  <p>test</p>
</MainLayout>
