---
// Import the necessary dependencies.
import ContactForm from "@components/ui/forms/ContactForm.astro";
// Define the variables that will be used in this component

const { title, formTitle } = Astro.props;

interface Props {
  title: string;
  formTitle: string;
}
---

<!-- Contact Us -->
<section class="w-full flex justify-center items-center py-8 px-3 bg-green-50">
  <div>
    <h1
      class="flex justify-center text-balance font-oswald text-4xl text-center text-green-500 font-bold"
    >
      {title}
    </h1>

    <div class="flex justify-around items-center pt-6 font-bold font-oswald">
      <div class="flex flex-col justify-start">
        <h4 class="text-green-200">Dane kontaktowe</h4>
        <div class="w-40 h-2 bg-green-200 mt-3"></div>
      </div>
      <div>
        <h4 class="text-grayText-100">Gotowe</h4>
        <div class="w-40 h-2 bg-grayText-100 mt-3"></div>
      </div>
    </div>
    <ContactForm formTitle={formTitle} />
  </div>
</section>
