---

const { title, url} = Astro.props;
// Define TypeScript interface for the properties
interface Props {
  title?: string;
  url?: string;

}

---

<!-- Link styled as a button, with dynamic title, URL, and optional arrow -->
<a
  class={`flex items-center justify-center w-full rounded-md py-4 text-green-500 font-inder transition duration-300 border border-transparent bg-green-50 2xl:text-base`}
  href={url}
>
  {title}
  <!-- Display the arrow based on the 'noArrow' property -->

</a>
