---
import PhoneIcon from "@/components/PhoneIcon.astro";

// Destructure the properties from Astro.props
const { title, url } = Astro.props;

// Define TypeScript interface for the properties
interface Props {
  title?: string;
  url?: string;
}
// Define CSS classes for the hyperlink button
---

<!-- Styled hyperlink -->
<div
  class="flex items-center justify-center gap-8 w-full rounded-md py-5 my-2 text-green-500 transition duration-300 border-transparent bg-grayText-100"
>
  <slot />
  <a href={url}>
    {title}
  </a>
</div>
