---
const { url } = Astro.props;
interface Props {
  url?: string;
}
---

<a
  class="inline-flex h-10 w-10 items-center justify-center gap-x-2 rounded-lg border border-transparent text-sm font-bold"
  ;
  href={url}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
