---
const { label, id } = Astro.props;

interface Props {
  label?: string;
  id?: string;
}
---

<!-- Container for the checkbox and its label -->
<div class="flex justify-center items-center my-5">
  <!-- Checkbox input -->
  <div class="p-4">
    <input
      id={id}
      name="remember-me"
      type="checkbox"
      class="w-4 h-4 appearance-none border-2 border-green-400 rounded-sm checked:bg-green-500 checked:border-green-500 focus:ring-0"
    />
  </div>
  <!-- Label for the checkbox -->
  <div class="px-3">
    <label for={id} class="text-xs text-black">{label} <slot /> </label>
  </div>
</div>
