---
const { label, id } = Astro.props;

interface Props {
  label?: string;
  id: string;
}
---

<!-- Container for the label and email input field -->
<div>
  <!-- Label for the email input field, visually hidden but accessible to screen readers -->
  <label for={id} class="sr-only">{label}</label>
  <!-- Email input field -->
  <input
    type="email"
    name="hs-email-contacts"
    id={id}
    autocomplete="email"
    class="block w-full rounded border-2 border-green-300 px-4 py-4 text-sm text-green-500 placeholder:text-green-500 focus:border-green-400 focus:outline-none focus:ring-1 focus:ring-green-400"
    placeholder={label}
  />
</div>
