---
//Import relevant dependencies
import NavigationLinks from "@/components/ui/links/NavigationLinks.astro";
import { navigationData } from "@utils/navigation.ts";
import NavLogo from "@/components/NavLogo.astro";
import HamburgerBtn from "@/components/ui/buttons/HamburgerBtn.astro";

const currentUrl = new URL(Astro.request.url).pathname;

interface navBarLinks {
  name: string;
  url: string;
}
---

<!-- Main header component -->
<header class="z-50 flex w-full flex-wrap text-sm">
  <!-- Navigation container -->
  <nav class="relative w-full bg-green-50" aria-label="Global justify-center">
    <div
      class=`flex items-center ${currentUrl ? 'justify-start' : 'justify-around'}  px-4 py-2 shadow-lg`
    >
      <!-- Brand logo -->
      <a
        class="flex-none rounded-lg text-xl font-bold outline-none ring-zinc-500"
        href={"/"}
        aria-label="Brand"
      >
        <NavLogo />
      </a>
      {currentUrl !== "/" ? null : <HamburgerBtn />}
    </div>
    <div
      id="navbar-collapse-with-animation"
      class="hs-collapse hidden transition-all ease-linear duration-500 lg:flex"
    >
      <!-- Navigation links container -->
      <div
        class="my-5 flex flex-col items-center justify-center gap-x-0 gap-y-4 lg:absolute lg:top-6 lg:left-48 lg:flex-row lg:gap-x-6 lg:my-0"
      >
        <!-- Navigation links  -->
        {
          navigationData.map((link: navBarLinks) => (
            <NavigationLinks
              url={link.url}
              name={link.name}
              fontColor={"text-green-500"}
            />
          ))
        }
      </div>
    </div>
  </nav>
</header>
<script>
  import "@preline/collapse/index.js";
  import "@preline/overlay/index.js";
</script>
